node_modules/
.env
dist/
build/
.DS_Store
*.log
coverage/
*.local
*.cache
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.swp
*.swo
*.tmp
*.bak
*.idea/
.vscode/
out/
/.next/
/.vercel/